{% extends "base.html" %}​
<!--{% load bootstrap4 %}​-->
{% load crispy_forms_tags %}
{% block content %}
    {% crispy form %}
<!--    <form method="post">  &lt;!&ndash; create z crud&ndash;&gt;-->
<!--        {% csrf_token %} &lt;!&ndash; to wrzuca sie przy metodzie post&ndash;&gt;-->
<!--        {% bootstrap_form form %}-->
<!--        {% buttons %}-->
<!--            <input type="submit" value="Submit" class="btn btn-primary">-->
<!--        {% endbuttons %}-->
<!--    </form>-->
{% endblock %}